<!DOCTYPE html>
<html lang="en">

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    
    <link href="/src/main/resources/static/css/login.css" th:href="@{/css/index_ufps.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFPS ACCIONES</title>
</head>

<body>
    <nav class="navbar navbar-ligth bg-danger">
        <a class="navbar-brand">UFPS</a>
        <form class="form-inline" th:method="post" th:action="@{/logout}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Cerrar sesion</button>
        </form>
      </nav>

      <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
        <form th:action="@{/ufps/actualizar_datos}" th:method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">ID:</label>
                <span th:text="${u.getId()}" th:value="${u.getId()}" name="id"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre:</label>
                <input type="text" class="form-control" th:value="${u.getUsuario()}" name="usuario" required>
            </div>
            <!-- <div class="form-group">
                <label for="exampleInputEmail1">Empresa</label>
                <input type="text" class="form-control" th:value="${u.getEmpresaBean().getNombre}" name="fecha" required>
            </div> -->
            <div class="form-group">
                <label for="exampleInputEmail1">Clave</label>
                <input type="text" class="form-control" th:value="${u.getClave()}" name="clave" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" th:value="${u.getEmail()}" name="email" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Rol</label>
                <select class="form-control"name="rol" required>
                    <option>Usuario</option>
                    <option>Administrador</option>
                </select>
            </div>

            <button type="submit" class="btn btn-danger" th:value="${accion}">
               
            </button>
        </form>
    </div>
</body>

</html>